.navbar {
  height: 5vw;
  max-width: 1920px;
  background-color: rgb(255, 255, 255);
  border: 0.1rem solid rgba(0, 0, 0, 0.151);
  display: flex;
  align-items: center;
  padding: 2rem;
  margin: 0 auto;
  font-size: 2rem;
  justify-content: center;
  gap: 3rem;

  a {
    padding: 3rem;
  }
}