.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.product {
    width: 20rem;
    height: 20rem;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    overflow: hidden;
}

p {
    font-size: 1rem;
    font-weight: 600;
}

.product:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.product img {
    width: 100%;
    height: auto;
}